header 
{
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
  	font-style: normal;
	background-color: #f10d0c;
	height: fit-content;
	width: 100%;
	float: left;
	color: white;
	font-size: 2vh;
}

body
{
	overflow-y: visible;
}

section
{
	width: 900px;
	margin-left: calc((100% - 900px) / 2);
	height: 80vh;
}

footer
{
	padding: 3vh 0px 3vh 0px;
	float: left;
}

@media screen and (max-width: 900px)
{
	section
	{
		width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
		margin-left: 0%;
		margin: 2.5%;
		float: left;
		height: max-content;
	}
}

.header-div
{
	float: left;
	margin-top: 17px;
}

section
{
	font-family: "Barlow", sans-serif;
  	font-weight: 500;
  	font-style: normal;
	float: left;
	padding-bottom: 50px;
}

#specifications_title
{
	margin-bottom: 20px;
}

#specifications_title:hover
{
	color: #aaaaaa;
}
a
{
	text-decoration: none;
	color: #5e7eff;
	font-size: inherit;
}

#specifications_list
{
	font-size: 20px;
}

.category
{
	width: 100%;
	float: left;
}

.spec_list-entry
{
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 15px;
	float: left;
	width: 100%;
}